<div class="flex justify-center flex-wrap">

<div class="card lg:card-side bg-base-100 shadow-xl max-h-[50vh] w-full">
  <figure class="w-1/2"><%= image_tag "organize.jpg", class:"w-full h-full max-w-[300px] object-cover" %></figure>
  <div class="card-body">
    <h2 class="card-title">Organisation</h2>
    <p>Click the button to listen on Spotiwhy app.</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Listen</button>
    </div>
  </div>
</div>

<div class="card lg:card-side bg-base-100 shadow-xl max-h-[50vh] mt-8 w-full">
  <div class="card-body">
    <h2 class="card-title">AI friends</h2>
    <p class="grow-0">Who needs real friends when you can have AI friends?</p>
    <b>Pros:</b>
    <ul>
      <li>Don't cancel plans</li>
    </ul>
    <b>Cons:</b>
    <ul class="grow">
      <li>Slight chance of world domination (<i>&lt; 20%</i>)</li>
    </ul>
    <div class="card-actions justify-start">
      <button class="btn btn-primary">Talk to us</button>
    </div>
  </div>
  <figure><%= image_tag "robot.jpg", class:"w-full h-full max-w-[300px] object-cover" %></figure>
</div>

</div>


