<div class="hero h-[50vh] rounded-xl" style="background-image: url(https://cdn.lorem.space/images/fashion/.cache/1000x800/felipe-galvan-AhfrA5VQNpM-unsplash.jpg);">
  <div class="hero-overlay bg-opacity-60 rounded-xl" ></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
      <p class="mb-5">You might have heard of "friends" or maybe already have some...</p>
      <p class="mb-5">We help you keep your friends organized, think of us as "Friends 2.0"</p>


      <% if user_signed_in? %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
